@font-face {
    font-family: 'Roboto';
    src: url("./Roboto-Black.ttf");
    font-style: normal;
}


body {
    margin: 30px;
    background-color: #d1dedd;
    font-family: 'Roboto';
}

ul, li {
    padding: 0;
    list-style-type: none;
    color: #767f7e;
}

h1, h2, h3 , figcaption{
    color: #767f7e;
}

figcaption{
    color: #767f7e;
    font-size: 20px;
}

p {
    color: #828b8a;
}


@media all and (max-width: 1600px) {
    

figcaption {
    position: relative;
    grid-row: 2;
    grid-column: 1;
    top: -3vh;
}

.desc {
    grid-row: 2;
    grid-column: 1;
}

header {
    max-width: 100%;
    margin: 40px auto;
    border-bottom: 1px solid #bbc7c7;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr;
    gap: 40px;
    max-width: 100%;
    margin: 20px auto;
}
.featured {
    grid-column: 2 / 6;
    display: grid;
    gap: 40px;
    border-bottom: 1px solid #bbc7c7;
    padding-bottom: 40px;
}

article img, .featured img {
    width: 100%;
    border: 4px solid #fff;
    border-radius: 8px;
}

.main_img {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 6fr 1fr 1fr 1fr;
}

figure {
    grid-column: 1 / 3;
    grid-row: 1 / 5;
    margin: auto;
}

figure > figcaption {
    position: relative;
    top: 4vh
}


.item2 {
    font-size: 1.5vw;
    background-color: aliceblue;
    width: 50%;
    height: 100%;
    grid-row: 2;
    grid-column: 1;
    z-index: 1;
    border-left: 4px solid #fff;
    border-radius: 4px;
    text-align: center;
    
}

.item1 {
    font-size: 1.5vw;
    background-color: black;
    width: 75%;
    height: 100%;
    grid-row: 3;
    grid-column: 1;
    z-index: 1;
    border-left: 4px solid #fff;
    border-radius: 4px;
    text-align: center;
    
}

.flex-container {
    display: grid;
    grid-template-rows: 200px 70px 70px 70px 70px 70px 70px 100px 70px; 
}

.trends {
    grid-column: 1;
    grid-row: 8;
    margin: auto;
    text-align: center;

}

.imp {
    grid-column: 1;
    grid-row: 9;
    margin: 0px auto;
}

aside {
    grid-row: 1 / 2;
}

.space {
    grid-column: 1;
    grid-row: 2;
}

.circle {
    width: 100%;
    grid-row: 1;
}

footer {
    max-width: 1400px;
    margin: 40px auto;
    border-top: 1px solid #bbc7c7;
    display: grid;
    grid-template-columns: 12fr 1fr 1fr 1fr;
}

footer > img {
    margin:auto;
    padding: 10px 5px;
}

a:visited {
    text-decoration: none;
    color: #767f7e;
}

.email {
    grid-column: 2/6;
    grid-row: 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    gap: 5px;
    align-items: center;
    border-bottom: 1px solid #bbc7c7;
    padding-bottom: 40px;
}

.email > p::before {
    content: "";
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url(/img/contact.png) no-repeat;
    background-size: contain;
    margin-right: 10px;
    position: relative;
    top: 20px;
}

#email {
    grid-column: 2;
    grid-row: 1;
    width: 50%;

}

#submit {
    display: inline-block;
    grid-column: 2;
    grid-row: 1;
    width: 20%;
    position: relative;
    left: 55%;

}

.email > p {
    grid-column: 1;
    position: relative;
    top: -17px;
}


.photos {
    grid-row: 2;
}

.photos > p {
    font-size: 25px;
}

.photos > p::before {
    content: "";
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url(/img/photos.png) no-repeat;
    background-size: contain;
    margin-right: 10px;
    position: relative;
    top: 17px;
}

.hikes {
    grid-row: 3;
}

.hikes > p {
    font-size: 25px;
}

.hikes > p::before {
    content: "";
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url(/img/hikes.png) no-repeat;
    background-size: contain;
    margin-right: 10px;
    position: relative;
    top: 17px;
}

.wild {
    grid-row: 4;
}

.wild > p {
    font-size: 25px;
}

.wild > p::before {
    content: "";
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url(/img/wild.png) no-repeat;
    background-size: contain;
    margin-right: 10px;
    position: relative;
    top: 17px;
}

.lakes {
    grid-row: 5;
}

.lakes > p {
    font-size: 25px;
}

.lakes > p::before {
    content: "";
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url(/img/lakes.png) no-repeat;
    background-size: contain;
    margin-right: 10px;
    position: relative;
    top: 17px;
}

.contact {
    grid-row: 6;
}

.contact > p {
    font-size: 25px;
}

.contact > p::before {
    content: "";
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url(/img/contact.png) no-repeat;
    background-size: contain;
    margin-right: 10px;
    position: relative;
    top: 17px;
}



    .space {
        grid-row: 2 /4;
    }

}

@media all and (max-width: 1280px) {

    .imp {
        display: none;
    }

    .trends {
        display: none;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 2fr 2fr 2fr 2fr;
        gap: 20px;
        max-width: 100%;
        margin: 20px auto;
    }

    .email {
        grid-column: 2/6;
        grid-row: 2;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr;
        gap: 40px;
        align-items: center;
    }
    
    #email {
        grid-column: 2;
        grid-row: 1;
        width: 40%;
    }
    
    #submit {
        display: inline-block;
        grid-column: 2;
        grid-row: 1;
        width: 20%;
        position: relative;
        left: 45%;
    }
    
    .email {
        grid-column: 1 / 6;
        grid-row: 3;
    }

    .email > p {
        font-size: 95%;
    }
    
    .featured {
        grid-row: 2;
        grid-column: 1 / 6;
    }

    article img {
        grid-row: 3;
        width: 100%;
    }


    aside {
        grid-column: 1 / 5;
        grid-row: 1;
    }

    .flex-container {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 3fr 2fr 2fr 2fr 2fr 3fr; 
        grid-column: 1 / 6;

}

    .photos > p {
        font-size: 22px;
    }

    .photos {
        grid-column: 2;
        grid-row: 1;
        margin: auto;
    }

    .photos > p::before {
        content: "";
        display: block;
        width: 50px;
        height: 50px;
        background: url(/img/photos.png) no-repeat;
        background-size: contain;
        margin-bottom: 10px;
        position: relative;
        left: 14px;
    }


    .hikes > p {
        font-size: 22px;
    }

   .hikes {
       grid-column: 3;
       grid-row: 1;
       margin: auto;
   }

   .hikes > p::before {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    background: url(/img/hikes.png) no-repeat;
    background-size: contain;
    margin-bottom: 10px;
    position: relative;
    left: 6px;
}


    .wild > p {
    font-size: 22px;
    }

   .wild {
       grid-column: 4;
       grid-row: 1;
       margin: auto;

    }

    .wild > p::before {
        content: "";
        display: block;
        width: 50px;
        height: 50px;
        background: url(/img/wild.png) no-repeat;
        background-size: contain;
        margin-bottom: 10px;
    }

    .lakes > p {
        font-size: 22px;
    }
    
    .lakes {
        grid-column: 5;
        grid-row: 1;
        margin: auto;
    }

    .lakes > p::before {
        content: "";
        display: block;
        width: 50px;
        height: 50px;
        background: url(/img/lakes.png) no-repeat;
        background-size: contain;
        margin-bottom: 10px;
        position: relative;
        left: 7px;
    }
   
    .contact > p {
        font-size: 22px;
    }
    
    .contact {
        grid-column: 6;
        grid-row: 1;
        margin: auto;
    }

    .contact > p::before {
        content: "";
        display: block;
        width: 50px;
        height: 50px;
        background: url(/img/contact.png) no-repeat;
        background-size: contain;
        margin-bottom: 10px;
        position: relative;
        left: 18px;
    }

}

@media all and (max-width: 700px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        max-width: 100%;
        margin: 20px auto;
    }
    
    figure > figcaption {
        position: relative;
        top: 8vh;
    }
    .item2 {
        background-color: aliceblue;
        width: 100%;
        height: 100%;
        grid-row: 3;
        grid-column: 1 / 3;
        z-index: 1;
        border-left: 4px solid #fff;
        border-right: 4px solid #fff;
    }
    
    .item1 {
        background-color: black;
        width: 100%;
        height: 100%;
        grid-row: 4;
        grid-column: 1 / 3;
        z-index: 1;
        border-left: 4px solid #fff;
        border-right: 4px solid #fff;
        border-bottom: 4px solid #fff;
        border-bottom-right-radius: 4px;
    }
    
    .flex-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 50px 1fr;
        grid-row: 1;
        grid-column: 1;
        margin: auto;
    }


    
    .email {
        grid-column: 1;
        grid-row: 3;
        display: grid;
        grid-template-columns: 1fr;
        margin: auto;
        grid-template-rows: 1fr 5vh;
        gap: 40px;
        align-items: center;
    }
    
    #email {
        grid-column: 1;
        grid-row: 2;
        width: 25%;
        margin: auto;
        position: relative;
        left: -7%;


        
        
    }
    
    #submit {
        grid-column: 1;
        grid-row: 2;
        width: 15%;
        position: relative;
        margin: auto;
        left: 15%;
    }




    .circle{
        grid-row: 2;
        grid-column: 1 / 5;
        position: relative;
        left: 32%;
    }

    .photos {
        grid-column: 1;
        grid-row: 1;
        margin: auto;
    }

    .photos > p::before {
        content: "";
        display: none;
    }

    .hikes {
        grid-column: 2;
        grid-row: 1;
        margin: auto;
    }


    .hikes > p::before {
        content: "";
        display: none;
    }

    .wild {
        grid-column: 3;
        grid-row: 1;
        margin: auto;
    }


    .wild > p::before {
        content: "";
        display: none;
    }

    .lakes {
        grid-column: 4;
        grid-row: 1;
        margin: auto;
    }

    
    .lakes > p::before {
        content: "";
        display: none;
    }

    .contact {
        grid-column: 5;
        grid-row: 1;
        margin: auto;
    }

    
    .contact > p::before {
        content: "";
        display: none;
    }

    .featured {
        grid-row: 2;
        grid-column: 1;
        display: grid;
        gap: 60px;
    }

    article img {
        grid-row: 3;
        grid-column: 1;
        width: 100%;
    }
}


