
.content-container {
  display: grid;
  grid-template-rows: 65vh 35vh;
}

.main-img {
  width: 100%;
  grid-row: 1 / 2;
}

body {
  font-family: "Hind";
  font-size: 14pt;
  background-color: black;
}

